{{define "post-pager"}}
{{if .Collection.IsBlog}}
{{if or .Post.PrevPost .Post.NextPost}}
<nav class="post-pager" aria-label="Post navigation">
    {{if .Post.PrevPost}}
    <a href="{{.Post.PrevPost.URL}}" class="post-pager-link post-pager-prev">
        <span class="post-pager-label">Previous</span>
        <span class="post-pager-title">{{.Post.PrevPost.Title}}</span>
    </a>
    {{else}}
    <span class="post-pager-spacer"></span>
    {{end}}
    {{if .Post.NextPost}}
    <a href="{{.Post.NextPost.URL}}" class="post-pager-link post-pager-next">
        <span class="post-pager-label">Next</span>
        <span class="post-pager-title">{{.Post.NextPost.Title}}</span>
    </a>
    {{end}}
</nav>
{{end}}
{{end}}
{{end}}
