{{define "sidebar-pager"}}
{{if or .Post.PrevPost .Post.NextPost}}
<nav class="sidebar-pager" aria-label="Page navigation">
    {{if .Post.PrevPost}}
    <a href="{{.Post.PrevPost.URL}}" class="pager-link pager-prev">
        <span class="pager-arrow">&larr;</span>
        <span class="pager-text">{{.Post.PrevPost.Title}}</span>
    </a>
    {{end}}
    {{if .Post.NextPost}}
    <a href="{{.Post.NextPost.URL}}" class="pager-link pager-next">
        <span class="pager-text">{{.Post.NextPost.Title}}</span>
        <span class="pager-arrow">&rarr;</span>
    </a>
    {{end}}
</nav>
{{end}}
{{end}}
